@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.App {
  font-family: sans-serif;
  text-align: center;
  /* background-color: #F8F8F8; */
  font-family: 'Roboto', sans-serif;
}


/* DASHBOARD */

.dashboard{
  border: 1px solid black;
  height: 100rem
}

.dashboardMain{
  display:flex;
  justify-content: space-between;
}
.dashboardLayer{
  padding: 3%;
  display: flex;

}

.DashboardBlock{
  background-color: rgb(241, 240, 240);
  margin: 0 auto;
  padding-bottom:10%; 
  box-sizing: border-box;
  border-radius: 2%;
  font-family: 'Roboto', sans-serif;
  width: 15%;
}
.CardTitle{
  color:white;
  background: #008BF1;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.dashboardComp{
  width:99%;

}



.dashboardHeader{
  border:1px solid black;
}

/* HOME */
.loginScreen{
  margin: 8% auto
}

.loginBox{
  border:1px solid black;
  width: 30%;
  margin: 0 auto;
  padding: 1%;
  border-radius: 2%;
  box-shadow: 3px 3px 3px rgb(167, 163, 163)
}
.loginTextField{
  font-size: 10%;
  border:1px solid black;
}
.registerRedirect{
  color:blue;
  cursor: pointer;
}
.loginError{
  border: 1px solid #F44335;
  background-color:#F44335;
  border-radius: 5px;
  margin: 0 auto;
  width: 50%;
  color: white;
  box-shadow: 3px 3px 3px #DBDBDB;
  padding:1%;
}


/* LINKS */
.link{
  text-decoration: none;
}



/* SIDEBAR */
.sideBarLinks{
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sideBar{
  background-color: #3F3F3F;
  padding: 1%;
  height: 93.6rem;
}
.sideBarLinks{
  background-color: #3F3F3F;
}
.sideBarLink{
  text-decoration: none;
  background-color: #3F3F3F;
  color: white;
  font-size: 25px;
}

.dashboardHeader{
  display: flex;
  justify-content: space-between;
}
.dashboardHeaderRight{
  display: flex;
  font-size: 25px;
}
.dashboardContentLeft{
  padding: 0.4%;
  justify-content: space-around;
  font-size: 25px;
}

/* RECIPE MAKER PAGE */
.recipeForm{
  width: 30%;
  margin: 10% auto auto auto;
  border: 1px solid black;
  background-color: #F1F0F0;
  border-radius: 3px;
  padding:3%;
}
.recipeListDisplay{
  border:1px solid black;
  width:30%;
  margin: 0 auto;
  margin-top: 3%;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgb(167, 163, 163)
}