@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
  margin: 0 0 0 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* LANDING PAGE */

.landingPageImg{
  width:100vw;
}
.landingPageTopBanner{
  /* display: flex;
  padding-left: 1%;
  background-color: black;
  width: 100%;
  height:8vh;
  opacity: 0.5; */
}
.landingPageButtons{
  display: flex;
  justify-content: space-around;
}

.landingPageName{
  position: absolute;
  width:100vw;
  display: flex;
  padding-left: 1%;
  background-color: black;
  opacity: 0.5;
}
.registerBox{
  border:1px solid black;
    width: 15%;
  height: 25vh;
  margin: 0 auto;
  padding: 1%;
  border-radius: 2%;
  box-shadow: 3px 3px 3px rgb(167, 163, 163);
  top: 20%;
  left: 1%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding-top: 2%;
}
.registerRedirect{
  color:blue;
  cursor: pointer;
}
.registerPage{
  margin-top: 13.4%;
}
.registerBoxText{
  font-weight: 900;
  padding-bottom: 20%;
}


/* DASHBOARD */

.CardTitle{
  color:white;
  background: #008BF1;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}
.dashboard{
  border: 1px solid black;
  height: 100rem
}
.dashboardMain{
  display:flex;
  justify-content: space-between;
}
.dashboardLayer{
  padding: 3%;
  display: flex;

}
.DashboardBlock{
  background-color: rgb(241, 240, 240);
  margin: 0 auto;
  padding-bottom:10%; 
  box-sizing: border-box;
  border-radius: 2%;
  font-family: 'Roboto', sans-serif;
  width: 15%;
}
.dashboardComp{
  width:99%;

}
.dashboardHeader{
  border:1px solid black;
}


/* HOME */
.loginScreen{
  margin: 8% auto;
  padding-top:10%;
}
.loginBox{
  border:1px solid black;
  width: 30%;
  margin: 0 auto;
  padding: 1%;
  padding-top:5%;
  padding-block-end: 5%;
  border-radius: 2%;
  box-shadow: 3px 3px 3px rgb(167, 163, 163)
}
.loginTextField{
  font-size: 10%;
  border:1px solid black;
}
.loginError{
  border: 1px solid #F44335;
  background-color:#F44335;
  border-radius: 5px;
  margin: 0 auto;
  width: 50%;
  color: white;
  box-shadow: 3px 3px 3px #DBDBDB;
  padding:1%;
}

/* LINKS */
.link{
  text-decoration: none;
}



/* SIDEBAR */
.sideBarLinks{
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sideBar{
  background-color: #3F3F3F;
  padding: 1%;
  height: 93.6rem;
}
.sideBarLinks{
  background-color: #3F3F3F;
}
.sideBarLinks div:hover{
  cursor: pointer;
}
.sideBarLink{
  text-decoration: none;
  background-color: #3F3F3F;
  color: white;
  font-size: 25px;
}

.dashboardHeader{
  display: flex;
  justify-content: space-between;
}
.dashboardHeaderRight{
  display: flex;
  font-size: 25px;
}
.dashboardHeaderRight div:hover{
  cursor: pointer;
}
.dashboardContentLeft{
  padding: 0.4%;
  justify-content: space-around;
  font-size: 25px;
}
.searchBar{
  border:1px solid black;
  font-size: 18px;
  border-radius: 10px;
  padding: 3%;
}

